html
    head
        title= title
    body 
        header 
            include ../partials/header.pug
        main 
            if !user
                h1 Hello, log in or sign up to create a new account!
                h1 Log in
                form#form_Login(action="/login" method="post")
                    input#txt_username(type="text" name="username" placeholder="Username or Email", required)
                    input#txt_password(type="password" name="password" placeholder="your password", required)
                    input(type="submit" value="Log in")
            else
                h1 Hello there #{user.username}
                p Watched anything good lately?
                a(href="/addmovie")
                    button(type= "button") Add movie
                // Display the movies
            if movies.length > 0
                ul
                    each movie in movies
                        li
                            h3= movie.title
                            p Director: #{movie.director}
                            p Release Year: #{movie.releaseYear}
            else
                p No movies found.